
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


.env
.env.local
.env.development
.env.production


dist/
build/
out/


.vite/


logs/
*.log


coverage/


.DS_Store
Thumbs.db


.vscode/
.idea/


.cache/
.tmp/


.eslintcache
